In [61]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os

In [62]:
def print_to_csv(name, df):
    # Step 1: Create the 'Dataframes' folder if it doesn't exist
    folder_path = 'Resources\Output'
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
        print(f"Folder created: {folder_path}")
    else:
        print(f"Folder already exists: {folder_path}")

    # Step 2: Define the CSV file path
    csv_path = os.path.join(folder_path, f"{name}.csv")

    # Step 3: Save the combined DataFrame as a CSV file
    df.to_csv(csv_path, index=False)
    print(f"DataFrame saved as CSV at {csv_path}")

In [63]:

# Read CSV and write it to a dataframe
df_stocks = pd.read_csv(
    "Resources/Input/stock_data.csv")

df_stocks.head()

       Date      Open      High       Low     Close Adj_Close          Volume
0  9/1/2024  5,623.89  5,623.89  5,402.62  5,471.05  5,471.05  18,514,880,000
1  8/1/2024  5,537.84  5,651.62  5,119.26  5,648.40  5,648.40  81,097,300,000
2  7/1/2024  5,471.08  5,669.67  5,390.95  5,522.30  5,522.30  80,160,390,000
3  6/1/2024  5,297.15  5,523.64  5,234.32  5,460.48  5,460.48  76,025,620,000
4  5/1/2024  5,029.03  5,341.88  5,011.05  5,277.51  5,277.51  86,849,720,000

In [64]:
# clean names
df_stocks.rename(columns={
    'Date':  'date',
    'Open':  'stock_open',
    'High':  'stock_high',
    'Low':   'stock_low',
    'Close': 'stock_close',
    'Adj_Close': 'stock_adj_close' ,
    'Volume': "stock_volume"
    }, inplace=True)
df_stocks.head()

,date,stock_open,stock_high,stock_low,stock_close,stock_adj_close,stock_volume
0,9/1/2024,"5,623.89","5,623.89","5,402.62","5,471.05","5,471.05","18,514,880,000"
1,8/1/2024,"5,537.84","5,651.62","5,119.26","5,648.40","5,648.40","81,097,300,000"
2,7/1/2024,"5,471.08","5,669.67","5,390.95","5,522.30","5,522.30","80,160,390,000"
3,6/1/2024,"5,297.15","5,523.64","5,234.32","5,460.48","5,460.48","76,025,620,000"
4,5/1/2024,"5,029.03","5,341.88","5,011.05","5,277.51","5,277.51","86,849,720,000"

In [65]:
print_to_csv("z_stock_data", df_stocks)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_stock_data.csv

In [66]:
# Read CSV and write it to a dataframe
df_unemployment = pd.read_csv(
    "Resources/Input/unemployment_rate.csv")

df_unemployment.head()

        DATE  UNRATE
0   8/1/2019     3.6
1   9/1/2019     3.5
2  10/1/2019     3.6
3  11/1/2019     3.6
4  12/1/2019     3.6

In [67]:
# clean names
df_unemployment.rename(columns={
    'DATE':  'date',
    'UNRATE':  'unemployment_rate'
    }, inplace=True)
df_unemployment.head()

        date  unemployment_rate
0   8/1/2019                3.6
1   9/1/2019                3.5
2  10/1/2019                3.6
3  11/1/2019                3.6
4  12/1/2019                3.6

In [68]:
print_to_csv("z_unemployment_data", df_unemployment)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_unemployment_data.csv

In [69]:
# Read CSV and write it to a dataframe
df_fed_rate = pd.read_csv(
    "Resources/Input/FEDFUNDS.csv")

df_fed_rate.head()

         DATE  FEDFUNDS
0  2019-08-01      2.13
1  2019-09-01      2.04
2  2019-10-01      1.83
3  2019-11-01      1.55
4  2019-12-01      1.55

In [70]:
# clean names
df_fed_rate.rename(columns={
    'DATE':  'date',
    'FEDFUNDS':  'fed_rate'
    }, inplace=True)
df_fed_rate.head()

         date  fed_rate
0  2019-08-01      2.13
1  2019-09-01      2.04
2  2019-10-01      1.83
3  2019-11-01      1.55
4  2019-12-01      1.55

In [71]:
print_to_csv("z_fed_rate_data", df_fed_rate)

Folder already exists: Resources\Output
DataFrame saved as CSV at Resources\Output\z_fed_rate_data.csv